body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:aquamarine;
    color:cadetblue;
}
.formField{
    width:20rem;
    padding:10px;
    display:inline-block;
}
.address{
    width:39rem;
    margin:auto;
}
.btn{
    margin-top:20px;
    width:10rem;
    background-color:coral;
    border:2px solid coral;
}